.pictureUrlShoes{
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    border:2px solid rgba(235, 232, 232, 0.5);
}
.shoes{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ajustShoes{
    width: 350px;
    margin-bottom: 10%;
}
.shoeName:hover{
  text-decoration: underline;
}

.brandShoes{
    font-weight: 500;
    font-size:15px;
}
.shoeDesc{
    font-weight: 500;
    font-size: 13px;
    overflow-y: auto;
    height: 90px;

}
#Link{
  color: black;
  text-decoration: none;
}



.popupPrice{
      font-weight: bold;
}
.popupBrandName{
    font-size: 12px;
}

.modal {
  height: 540px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
    outline-style: none;
  }
.shoeShopName{
    font-size:20px;
    font-weight: bold;
}