.pictureUrl{
    width: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.shoes{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}
.ajust1{
    width: 400px;
    margin-bottom: 10%;
}
.link{
    background-color: black;
    color: wheat;
}