.feed{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.originalPriceWithNoDiscount{
    text-decoration: none;
}
.originalPriceWithDiscount{
    text-decoration: line-through;
}
.ajustNames{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.shopName{
    align-items: flex-end;
}
