.Brands{
    width: 90%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
#li{
    list-style: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 15%;
    text-transform: uppercase;
    width: 200px;
    text-decoration: none;
}
ul{
    width: 200px;
    
}
.href{
    text-decoration: none;
    
}
.href:hover{
    text-decoration: underline;
    color: black;
}
