.brandProduct{
    margin-top: 8%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.pictureUrlProBrands{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ajustProductBrands{
    width: 350px;
    margin-bottom: 10%;
}
.brandProBrands{
    font-weight: 500;
    font-size:15px;
}