.brandProduct{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pictureUrlProBrands{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ajustProductBrands{
    width: 350px;
    margin-bottom: 10%;
}
.brandProBrands{
    font-weight: 500;
    font-size:15px;
}
#oneee{
    width: 130px;
    right: 30%;
}
#twooo{
    width: 130px;
    right: 25%;
}