.brandProduct{
    margin-top: 6%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.pictureUrlProBrands{
    height: 300px;
    display: block;
    object-fit: cover;
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 270px;
}
.ajustProductBrands{
    width: 350px;
    margin-bottom: 10%;
}
.brandProBrands{
    font-weight: 500;
    font-size:15px;
}
.ShopFilters{
    margin-top: 10%;
}