
@media screen and (max-width : 794px) {
    #sidebar{
        display: block;
    }
    .menu{
        display: none  ;
    }
    .genderCategories{
        display: none  ;
    }
    #hide{
        display: none ;
    }
    #terminalH{
    font-size: 30px;
    text-decoration: none;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;

    }
    
}

#hide{
    align-items: center;
}

.text{
    color: black;
    text-decoration: none;
}
.text:hover{
    text-decoration: underline;
}

.mutag{
    left: 78%;
    margin-top: 3%;
    position: absolute;
    color: black;
    text-decoration: none;
}

.MuiPaper-root{
    color:  black ;
}
.MuiToolbar-root{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.menu{
    position: sticky;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.ASearch{
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.genderCategories{
    margin-left: 69%;
    position: absolute;
    text-align: center;
    justify-content: space-around;
    a{
        padding-left: 20%;
        font-size: 16px; 
        font-weight: 700;
        text-decoration: none;
        color: black;
        padding-right: 15%;
    }
    a:hover{
        text-decoration: underline;
    }
}

.mutagim{
    font-family: "system-ui";
    height: 21px;
    margin-top: 20px;
    padding-right: 10px;
    font-size: 15px; 
    text-decoration: none;
    color: black;
    
}
#ChevronLeft{
    margin-top: 5%;
    font-size: x-large;
}
.mutagim:hover{
    text-decoration: underline;
}

.terminalH{
    padding: 0 10% 0 10%;
    width: 500px;
    font-size: 35px;
    text-decoration: none;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.ajustSections{
    font-family: "system-ui";
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 150px;
    a{
        text-decoration: none;
        color: black;
        margin-left: 5%;
        justify-content: space-evenly;
        margin-right: 1%;
        font-size: 15px;   
    
    }
    a:hover{
        text-decoration: underline;
        
    }
}
.MuiBadge-root{
    padding-right: 60px;
    
    .MuiBadge-colorPrimary{
        margin-right: 70px;
        margin-top: 2px;
        font-weight: 900;
        background-color: black;
        font-size: 15px;
    }
}
.MuiList-root{
    direction: rtl;
    padding: 5%;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


  @media screen and (max-width: 625px) {
	.mutagim {
        margin-top: 7%;
	  margin-left: 17%;
	}
    
	
  }
  @media screen and (max-width: 345px) {
	#terminalH{
        font-size: 27px;
    }
    
	
  }
  @media screen and (max-width: 326px) {
	#terminalH{
        font-size: 24px;
    }
    
    
	
  }
  @media screen and (max-width: 310px) {
    #terminalH{
        font-size: 20px;
        margin-right: 17%;
    } 
}
@media screen and (max-width: 1155px) {
    .ajustSections{
        font-family: "system-ui";
        margin-top: 20px;
        margin-bottom: 20px;
        height: 30px;
        width: 100px;
        a{
            text-decoration: none;
            color: black;
            margin-left: 5%;
            justify-content: space-evenly;
            margin-right: 1%;
            font-size: 15px;   
        
        }
    }
}
@media screen and (max-width: 805px) {
    .ajustSections{
        font-family: "system-ui";
        margin-top: 20px;
        margin-bottom: 20px;
        height: 30px;
        width: 90px;
        a{
            text-decoration: none;
            color: black;
            margin-left: 5%;
            justify-content: space-evenly;
            margin-right: 1%;
            font-size: 15px;   
        
        }
    }
}


