.hotBrand{
    width: 1260px;
    padding-top: 2%;
}
.menu{
    position: sticky;
	top: 0;
	margin-bottom: 0;
	z-index: 1;
	overflow: hidden;
    background-color: white;
    
}

.d-flex{
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
    a{
        text-decoration: none;
        color: black;
        font-weight: 700;
        margin-left: 5%;
        justify-content: space-evenly;
        margin-right: 1%;
        font-size: 12px;   

    }
    a:hover{
        text-decoration: underline;
        
    }
    
}
.terminalH{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
