.center{
    text-align: center;
    // position: sticky;
	// top: 0;
	// margin-bottom: 0;
	// z-index: 1;
    // background-color: white;
    
}
@media screen and (max-width : 750px) {
    #sidebar{
        display: block;
    }
    .menu{
        display: none  !important;
    }
    .genderCategories{
        display: none  !important;
    }
    
}
.text{
    color: black;
    text-decoration: none;
}
.text:hover{
    text-decoration: underline;
}

.menu{
    position: sticky;
	top: 0;
	margin-bottom: 0;
	z-index: 1;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.ASearch{
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.genderCategories{
    margin-left: 69%;
    position: absolute;
    text-align: center;
    justify-content: space-around;
    a{
        padding-left: 20%;
        font-size: 16px; 
        font-weight: 700;
        text-decoration: none;
        color: black;
        padding-right: 15%;
    }
    a:hover{
        text-decoration: underline;
    }
}
.mutagim{
    height: 21px;
    margin-top: 24px;
    padding-right: 10px;
    font-size: 12px; 
    text-decoration: none;
    color: black;
    font-weight: 700;
    
}
.mutagim:hover{
    text-decoration: underline;
}

.terminalH{
    font-size: 35px;
    text-decoration: none;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.ajustSections{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    a{
        text-decoration: none;
        color: black;
        font-weight: 700;
        margin-left: 5%;
        justify-content: space-evenly;
        margin-right: 1%;
        font-size: 12px;   
    
    }
    a:hover{
        text-decoration: underline;
        
    }
}
@media screen and (max-width: 625px) {
	.ajustSections {
	  margin-top: 45%;
	  margin-left: 17%;
      width: 100px;
      height: 30px;
	}
    
	
  }
  @media screen and (max-width: 625px) {
	.mutagim {
        margin-top: 7%;
	  margin-left: 17%;
	}
    
	
  }
  @media screen and (max-width: 750px) {
	.genderCategories {
	  margin-top: 5%;
      
	}
    
	
  }
