.pictureUrlProductPage{
    width: 300px;
}
.productName{
    font-size: 30px;
    font-weight: bold;
}
.productBrandName{
    font-weight: bold;
}
.productDesc{
    width: 400px;
    font-weight: bold;
    margin-top: 5%;
    padding-bottom: 5%;
    
}
.productPrice{
    margin-top: 1%;
}
.productPage{
    text-align: -webkit-center;
}
.productShop{
    margin-top: 1%;
    font-weight: bold;
}
