.pictureUrlProductPage{
    width: 300px;
    margin-top: 10%;
}
.productName{
    font-size: 30px;
    font-weight: bold;
}
.productBrandName{

    font-weight: bold;
}
.productDesc{
    width: auto;
    font-weight: bold;
    margin-top: 5%;
    padding-bottom: 5%;
}
.ajustDesc{
    height: 120px;
    overflow-y: auto;

}
.productPrice{
    margin-top: 1%;
}
.productPage{
    text-align: -webkit-center;
}
.productShop{
    margin-top: 1%;
    font-weight: bold;
}
.productUrl{
    color: black;
    text-decoration: none;
}
.productUrl:hover{
    text-decoration: underline;
}

