.clothing{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}
.ajustClothing{
    width: 350px;
    margin-bottom: 10%;
}
.brandClothing{
    font-weight: 500;
    font-size:15px;
}
.pictureUrlClothing{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}