.products{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.pictureUrlProducts{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ajustProducts{
    width: 400px;
    margin-bottom: 10%;
}
.brandProducts{
    font-weight: 500;
    font-size: 15px;

}
form{
    position: absolute;
    margin-top: 15%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.searchInput{
    border: none;
}
.searchInput:focus{
    border-bottom: solid;
}
input:focus{
    outline: none;
}
@media screen and (max-width: 625px) {
	form {
	  margin-top: 20%;
	}
	
  }

