.products{
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    
}
.pictureUrlProducts{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ajustProducts{
    width: 300px;
    margin-bottom: 10%;
}
.brandProducts{
    font-weight: 500;
    font-size: 15px;

}

// form{
//     position: static;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }
.searchInput{
    border: none;
    font-size: 15px;
    direction: rtl;
    background-color: transparent;
}
.searchInput:focus{
    border-bottom: solid;
}
input:focus{
    outline: none;
}

@media screen and (max-width : 794px) {
    .products{
        margin-top: 7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        
    }
    
}


