.products{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pictureUrlProducts{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ajustProducts{
    width: 400px;
    margin-bottom: 10%;
}
.brandProducts{
    font-weight: 500;
    font-size: 15px;

}