.shop{
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 90%;
}
.filters{
    position: absolute;
    width: 10%;
    right: 3%;

}
.prodView{
    margin-bottom: 50px;
}

#accordion{
    display: none;
}
.relative{
    position: relative;
}
// 
.pictureUrlShop{
    position: relative;
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 230px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ajustShop{
    width: 300px;
    margin-bottom: 10%;
}
.brandShop{
    font-weight: 500;
    font-size:15px;
}
#filterOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        padding-right: 10px;
        font-size: 13px;
    }
    
}

.favoriteBorderIcon{
    color: red;
}
.linkToSite{
    direction: rtl;
    padding-right: 5%;
    font-size: 12px;
}
#buttonToSite{
    display: flex;
    flex-direction: row;
}
#Link{
    color: black;
    text-decoration: none;
}
.shopName:hover{
    text-decoration: underline;
}
.pagination{
    display: flex;
    flex-wrap: wrap;
    
    .active{
        background-color:lightblue;
        border-radius: 50px;
        width: 40px;
    }
    a{
        outline: none;
        text-decoration: none;
    }
    li{
    list-style: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    width: 70px;
    text-decoration: none;
    }
}

.MuiAccordionDetails-root{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.MuiAccordion-rounded:first-child{
    width: auto;
    justify-content: space-evenly;
}
.MuiTypography-body1{
    justify-content: space-evenly;
}
.categoryName{
    margin-top: 8%;
}
.FILTERS{
    display: flex;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}
#filterBy{
    direction: ltr;
    left: 15px;
    width: 130px;
    label{
        font-size: 15px;
    }

}
.filterButton{
    border: 1px solid black;
}

#gender{
    // left: 30%;
    width: 130px;
    padding-top: 40%;
    label{
        padding-top: 20%;
        
    }
}
#one{
    width: 130px;
    margin-top: 8%;
}
#ProdCount{
    width: 130px;
    // right: 20%;
    label{
        font-size: 20px;
    }
}
#category{
    width: 130px;
    padding-top: 40%;
    label{
        padding-top: 25%;
    }
}
#four{
    width: 130px;
    padding-top: 40%;
    label{
        padding-top: 25%;
    }
    // right: 20%;
}
#phonePagination{
    display: none;
}
// .MuiFormControl-root{
//     width: 130px;
//     right: 40%;
// }

 @media screen and (max-width : 792px) {
    //  .MuiFormControl-root{
    //     width: 120px;
    //     left: 0;
    //     top: 0;
    //  }
    #filterBy{
        display: none ;
        label{
            display: none;
        }
    }
    .pagination{
        display: none;
    }
    #phonePagination{
        display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 16.7px;
        
    }


    
    .FILTERS{
        height: 60px;
    }
    
    .filters{
        display: none;
    }
    .shop{
        width: 100%;
        
    }
    .totalElements{
        display: flex;
        height: 10px;
    }
    #ProdCount{
        display: none;
    }
    #one{
        display: none;
    }
    #accordion{
        display: flex;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 2%;
        right: 15%;
        left: 30%;
    }
    
    #acordionone{
        display: flex;
        position: relative;
        width: 150px;
        padding-bottom: 20px;
        label{
            position: relative;
            padding-bottom: 10%;
        }
    }
    #acordiontwo{
        display: flex;
        position: relative;
        width: 150px;
        padding-bottom: 50px;
        label{
            position: relative;
            font-size: 20px;
        }
    }
    #acordionGender{
        display: flex;
        position: relative;
        width: 150px;
        padding-bottom: 20px;
        label{
            position: relative;
            padding-bottom: 10%;
        }
    }
    #acordionFour{
        display: flex;
        position: relative;
        width: 150px;
        padding-bottom: 20px;
        label{
            position: relative;
            padding-bottom: 10%;
        }
    }
    
}
