.shop{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pictureUrlShop{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ajustShop{
    width: 350px;
    margin-bottom: 10%;
}
.brandShop{
    font-weight: 500;
    font-size:15px;
}
#Link{
    color: black;
    text-decoration: none;
}
.shopName:hover{
    text-decoration: underline;
}
.pagination{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    .active{
        background-color:lightblue;
        border-radius: 50px;
        width: 40px;
    }
    a{
        outline: none;
        text-decoration: none;
    }
    li{
    list-style: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    width: 100px;
    text-decoration: none;
    }
}
.MuiFormControl-root{
    width: 130px;
    right: 40%;
}
 @media screen and (max-width : 750px) {
     .MuiFormControl-root{
        width: 120px;
        left: 0;
     }
     .pagination{
        width: 300px;
        display: inline-flex;
        margin-right: 20%;
        justify-content: space-between;
        li{
            width: 38px;
           
        }
        .active{
            width: 20px;
        }
    }
 }