.shop{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pictureUrlShop{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ajustShop{
    width: 350px;
    margin-bottom: 10%;
}
.brandShop{
    font-weight: 500;
    font-size:15px;
}
#Link{
    color: black;
    text-decoration: none;
}
.shopName:hover{
    text-decoration: underline;
}
.pagination{
    display: flex;
    width: 600px;
    .active{
        background-color:lightblue;
        border-radius: 50px;
        width: 40px;
    }
    a{
        outline: none;
        text-decoration: none;
    }
}
.MuiFormControl-root{
    width: 130px;
    right: 40%;
}