.equipment{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-evenly;
}
.ajustEquipment{
    width: 350px;
    margin-bottom: 10%;
    
}
.brandEquipment{
    font-weight: 500;
    font-size:15px;
    
}
.pictureUrlEquipment{
    border:2px solid rgba(235, 232, 232, 0.5);
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}